body {
    margin: 0;
    text-align: center;
}


@media only screen and (min-width: 1000px)
.top-container {
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 0 auto;
    padding-top: 50px;
    font-family: "Sacramento", serif;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

.webh2 {
    font-family: "Merriweather", serif;
    font-size: 2.5rem;
    margin-top: 0px;
    color: #66BFBF;
    font-weight: normal;
}

h2 {
    font-weight: normal;
    color: #66BFBF;

}

h3 {
    color: #11999E;
    font-weight: 100;
}

a {
    color: #11999E;
}

.profilepng {
    height: 200px;
    width: 200px;
    margin-top: 200px;
    border: solid;
    border-radius: 100%;
}

.skill-1 {
    background-color: #eaf6f6;
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.css {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 2;
}

.skill-row1 {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    line-height: 2;
}

.hello-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.intro-para {
    width: 50%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 100px;
}

.hr-after-profile {
    width: 10%;
    border-top: dotted;
    border-top-width: 5px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: grey;
}

.skills-heading {
    padding-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.hr-after-hobbies {
    width: 10%;
    border-top: dotted;
    border-top-width: 5px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: gray;
    padding-bottom: 100px;
}

.contact {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.para-above-button {
    padding-bottom: 50px;
}



.bottom-container {
        margin-top: 100px;
        background-color: #7cc8c8;
        margin-bottom: 0;
        padding-bottom: 30px;
        padding-top: 30px;
}

.footer-link {
    font-size: 1.5rem;
    padding-left: 20px;
    font-family: "Merriweather", serif;
}

.copyrights {
    color: #EAF6F6;
}

.bottom-cloud {
    position: absolute;
    left: 500px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 450px;
    top: 100px;
}


@media only screen and (min-width: 390px) {
    .top-container {
        background-color: #eaf6f6;
        position: relative;
        padding-top: 100px;
        width: 100%;
    }

    .mountain-png {
        width: 100%;
    } 

    .top-cloud {
        position: absolute;
        right: 50px;
        top: 300px;
        height: 30px;
    }

    .bottom-cloud {
        position: absolute;
        left: 40px;
        bottom: 150px;
        height: 30px;
    }

    h1 {
        margin: 0 auto;
        padding-top: 50px;
        font-family: "Sacramento", serif;
        font-size: 2.8rem;
        color: #66BFBF;
        line-height: 2;
    }

    .webh2 {
        font-family: "Merriweather", serif;
        font-size: 1.0rem;
        margin-top: 0px;
        color: #66BFBF;
        font-weight: normal;
    }

    .profilepng {
        height: 200px;
        width: 200px;
        margin-top: 100px;
        border: solid;
        border-radius: 100%;
    }

    .intro-para {
        width: 70%;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        line-height: 2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 100px;
    }

    .skill-1 {
        background-color: #eaf6f6;
        border-radius: 100%;
        width: 100%;
        margin-right: 30px;
        float: none;
    }

    .skill-1-para {
        width: 100%;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        text-align: justify;

    }

    .myskills-1-heading {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
    }

    .css {
        width: 100%;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        float: none;
    }

    .hobbies-heading {
        text-align: center;
        font-size: 1.5rem;
    }

    .hobbies-para1 {
        width: 100%;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        text-align: justify;
    }

    .para-above-button {
        display: none;
    }

}
